@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

#topHeader .bi{
    font-size:18px;
}

#counter{
    background-image: url('../img/yol.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-lacivert{
    background-color: #03152e;
}

#footer a{
    color:#fff;
    text-decoration: none;
}

#footer .bi{
    font-size:25px;
}